<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CTPAF Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <link href="{{ url_for('static' , filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/owl.carousel/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/aos/aos.css') }}" rel="stylesheet">

  <link href="{{ url_for('static' , filename='css/style.css') }}" rel="stylesheet">

  
</head>

<body>


  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>CTPAF Services</span></a></h1>
       
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          
        </ul>
      </nav>

    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
          <h1>CTPAF Services</h1>
          <h2>Let us know you better</h2>
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{{ url_for('static' , filename='img/hero-img.svg') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">

   

   

    
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
        
          <p>We would like you to answer the following questions:</p>
        </div>

        <div class="row">
                <div class="col-lg-12 mt-12 mt-lg-12" data-aos="fade-up" data-aos-delay="200">
              <center>      
                  <form action="{{url_for('result_ds')}}" method="post">
                    <div class="form-row">
                    
                    </div>
                    <div class="form-group">
                      <label for="name">Choose all the skills which you have at the current moment(You can choose more than one)</label>
                      <br>
                      <center>
                        <input type="checkbox" value="machine learning" name="skill1"> Machine Learning
                        <br>
                        <input type="checkbox" value="data science" name="skill2"> Data Science
                        <br>
                        <input type="checkbox" value="analytics" name="skill3"> Analytics
                        <br>
                        <input type="checkbox" value="data mining" name="skill4"> Data Mining
                      </center>
                     
                      <div class="validate"></div>
                    </div>
                   
                  
                   
                    <div class="text-center"><button value="predict" type="submit" style="color: white; background-color:#eb5d1e; font-size: 20px;border-color: transparent; padding: 1px 10px 1px 10px; border-radius: 5px;">Get Result</button></div>
                    
                  </form>
                  </center>
                </div>
                
      </div>
    </section>

   



  </main>
  <footer id="footer">

    <div class="footer-newsletter" data-aos="fade-up">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>CTPAF Services ©</h4>

            
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

 <script src="{{ url_for('static' , filename='vendor/jquery/jquery.min.js') }}"></script>
 <script src="{{ url_for('static' , filename='vendor/jquery/jquery.min.js') }}"></script>
 <script src="{{ url_for('static' , filename='jquery.easing/jquery.easing.min.js') }}"></script>
 
 <script src="{{ url_for('static' , filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
 <script src="{{ url_for('static' , filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
 <script src="{{ url_for('static' , filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
 <script src="{{ url_for('static' , filename='vendor/aos/aos.js') }}"></script>

 
 <script src="{{ url_for('static' , filename='js/main.js') }}"></script>


</body>

</html>