<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CTPAF Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <link href="{{ url_for('static' , filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='vendor/aos/aos.css') }}" rel="stylesheet">

  <link href="{{ url_for('static' , filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href=""><span>CTPAF Services</span></a></h1>
      
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="#about">Our Vision</a></li>
          <li><a href="#services">Services</a></li>

          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>

          <li class="get-started"><a href="#about">Get Started</a></li>
          
        </ul>
      </nav>

    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
          <h1>CTPAF Services</h1>
          <h2>We help you introspect your Career Transitioning Decision</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{{ url_for('static' , filename='img/hero-img.svg') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{{ url_for('static' , filename='img/about-img.svg') }}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Our Vision</h3>
            <br>
            <p data-aos="fade-up" data-aos-delay="100" style="font-size: 20px;">

                We aim to predict the probability of success or failure of an individual's
                decision of leaving a stable , well paid job and venturing into their domain of
                interest. <br> <br> Our vision is to help every individual take data driven decisions in finding their  
              passions and doing career transition towards the same.

               
            </p>
            
          </div>
        </div>

      </div>
    </section>
    <section id="services" class="services section-bg">
      
      <div class="container">
        
        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Check out the great services we offer</p>
          <br>
          <p style="font-size: 18px;">Select your field of interest</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Entrepreneurship and Start Industry</a></h4>
              <p class="description">Are you the one who aspires to be a successfull entrepreneur like Jeff Bezoz or Elon Musk and wish to start your own startup?
               <br>
                 <a href="/startup" class="btn-get-started scrollto">Let's find Out!</a>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Data Science</a></h4>
              <p class="description"> Are you the one who want to analyse the enormous amount of data that is produced in the current scenario? <br>
                 <a href="/datascience" class="btn-get-started scrollto">Let's find Out!</a>
              </p>
            </div>
          </div>
        </div>
      
      </div>
      
    </section>

   

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our team is always here to help</p>
        </div>

       <div class="row"> 
         
        <div class="col-xl-3 col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
          
          <div class="member">

            <img src="{{ url_for('static' , filename='img/team/maam.jpg') }}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Ms. Kundhavai K.R</h4>
              </div>
            </div>
          </div>
          
        </div>
        

      </div>
       
        <div class="row">
          
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member">
              <img src="{{ url_for('static' , filename='img/team/meet.png') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Meet Shah</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="member">
              <img src="{{ url_for('static' , filename='img/team/sakshi.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sakshi Singh</h4>
                  
                </div>
               
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="member">
              <img src="{{ url_for('static' , filename='img/team/shiva.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Shivendra Khatri</h4>
                  
                </div>
               
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="member">
              <img src="{{ url_for('static' , filename='img/team/me.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Aryama</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
          <p>Contact us the get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Pesit South Campus</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ctpatservices@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55</p>
              </div>

              <iframe src=https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15558.873880455309!2d77.6647081!3d12.8614515!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4bad30b7a7fd5e76!2sPES%20University%20Electronic%20City%20Campus!5e0!3m2!1sen!2sin!4v1609072216145!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>

  </main>
  <footer id="footer">

    <div class="footer-newsletter" data-aos="fade-up">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>CTPAF Services ©</h4>

            
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  
  <script src="{{ url_for('static' , filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='jquery.easing/jquery.easing.min.js') }}"></script>
  
  <script src="{{ url_for('static' , filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='vendor/aos/aos.js') }}"></script>

 
  <script src="{{ url_for('static' , filename='js/main.js') }}"></script>

</body>

</html>